:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* nav */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  justify-content: flex-end;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #111111;
}

/* media item card */
td {
  padding: 1rem;
}

td img {
  width: 260px;
  height: 200px;
  object-fit: cover;
}

td button:hover,
a:hover {
  background-color: #111111;
}

td a {
  color: white;
  text-decoration: none;
  background-color: #363636;
  color: white;
  border: none;
  padding: 0.5rem;
}

/* media item dialog */
dialog {
  position: fixed;
  height: 90%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  color: rgba(255, 255, 255, 0.87);
}

dialog img,
video {
  height: 70%;
  object-fit: contain;
}

/* single view */
img,
video {
  max-width: 100%;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px 0;
}

form div {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #363636;
  color: white;
  border: none;
  cursor: pointer;
}
